<div class="container">
  <h1>Book Lists</h1>

  <a href="#" routerLink="/bookList/create/" class="btn btn-success">Create New bookList</a>

  <table class="table table-bordered m-2">
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th width="column">Action</th>
    </tr>
    <tr *ngFor="let bookList of bookLists">
      <td>{{ bookList.id }}</td>
      <td>{{ bookList.title }}</td>
      <td>
        <div class="  active ">

        <button type="button  "   href="#" [routerLink]="['/bookList/', bookList.id, 'view']" class="btn btn-info m-2">View</button>
        <button href="#" [routerLink]="['/bookList/', bookList.id, 'edit']" class="btn btn-primary m-2">Edit</button>
        <button type="button" (click)="deleteList(bookList.id)" class="btn btn-danger m-2">Delete</button></div>
      </td>
    </tr>
  </table>
</div>
