<div class="row">
  <div class="col-xs-12"><fieldset>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="row">
              <div class="col-xs-12">
                  <button type="submit" class="btn btn-success my-2" [disabled]="!form.valid">Add Book</button>
              </div>
          </div>
          <div class="row">
              <div class="col-xs-12">
                  <div class="form-group">
                      <label for="name">Title</label>
                      <input type="text" id="name" formControlName="title" class="form-control">
                  </div>
              </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="name">Year</label>
                    <input type="number" id="name" formControlName="year" class="form-control"  min="1">
                </div>
            </div>
        </div>    <div class="row">
          <div class="col-xs-12">
              <div class="form-group">
                  <label for="name">author</label>
                  <input type="text" id="name" formControlName="author" class="form-control">
              </div>
          </div>
      </div>    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label for="name">Rank</label>
                <input type="number" id="name" min="1" class="form-control"formControlName="rank" class="form-control">
            </div>
        </div>
    </div>

      </form>
    </fieldset>
  </div>
</div>
