<div class="container">
   <h1>Create New Post</h1>

    <a href="#" routerLink="/bookList/index" class="btn btn-primary my-2">Back</a>
    <hr class="rounded">

    <form [formGroup]="form" (ngSubmit)="add()">

        <div class="form-group">
            <label controlsor="title">Title:</label>
            <input
            formControlName="title"                id="title"
                type="text"
                class="form-control">
            <div *ngIcontrols="controls['title'].touched && controls['title'].invalid" class="alert alert-danger">
                <div *ngIcontrols="controls['title'].errors && controls['title'].errors['required']">Title is required.</div>
            </div>
        </div>

        <div class="  active ">

        <button class="btn btn-success my-3" type="submit" [disabled]="!form.valid">Save Book list</button></div>
    </form>

    <div class=" border rounded">    <div class="well"><fieldset class="border p-2">


      <legend  class="w-auto"> Book list</legend>


      <table class="table table-bordered m-2">
        <tr>
          <th>Title</th>
          <th>Year</th>
          <th>Author</th>
          <th>Rank</th>

        </tr>
        <tr *ngFor="let bookList of books">
          <td>{{ bookList.title }}</td>
          <td>{{ bookList.year }}</td>
          <td>{{ bookList.author }}</td>
          <td>{{ bookList.rank }}</td>


        </tr>
      </table>
    </fieldset>
    </div>
   </div>
<div class="row my-2">    <app-create-book (onAddNewBook)="addBook($event)"> </app-create-book>
</div>

</div>
